<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hfad.alarmclock">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZeroApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListAlarm"></activity>

        <service android:name=".MyService2" />

        <activity android:name=".foreground" />
        <activity android:name=".MainActivity3" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":ServiceProcess" />

        <activity android:name=".MainActivity2" />
        <activity android:name=".CreateAlarm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadReiverTT"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Broadcast2"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>